<div class="container p-5 content">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card bg-light" style="border-radius: 0.5rem">
        <div class="card-body text-center">
          <h3 class="mb-3">Edit post</h3>

          <form (ngSubmit)="editPost()" autocomplete="off" method="post">
            <div
              class="d-flex justify-content-start p-1"
              style="font-size: small; color: red"
              *ngIf="charErr"
            >
              * Field cannot include charactes: /, # and %!
            </div>
            <div class="form-group mb-3">
              <!-- <label for="postTitle">Post title:</label> -->
              <input
                class="form-control"
                placeholder="Post title"
                id="postTitle"
                name="title"
                [(ngModel)]="postParams.postTitle"
              />
            </div>
            <div class="form-group mb-3">
              <!-- <label for="postContent">Post content:</label> -->
              <textarea
                class="form-control"
                placeholder="Post content"
                id="postContent"
                name="content"
                [(ngModel)]="postParams.content"
                rows="5"
              ></textarea>
            </div>

            <div
              class="d-flex justify-content-start p-1"
              style="font-size: small; color: red"
              *ngIf="fieldEmpty"
            >
              * Neither field can be left empty!
            </div>

            <button type="submit" class="btn btn-primary">Submit post</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
