<div class="p-3 container col-md-6">
  <div class="p-3 d-md-flex justify-content-md-center"><h2>BlogShite</h2></div>
  <div class="list-group">
    <div class="p-3 d-md-flex justify-content-md-center">
      <span
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
        *ngIf="loading"
      ></span>
    </div>

    <div class="m-3" *ngFor="let post of postsToDisplay">
      <a
        [routerLink]="[
          '/post-details',
          post.title.replace('POST#', ''),
          post.id
        ]"
        class="list-group-item list-group-item-action"
        aria-current="true"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ post.postTitle }}</h5>
          <small>
            <small class="text-muted">Last updated: </small>
            <small style="color: rgb(95, 95, 239)">{{
              post.updatedAt.substring(0, 10)
            }}</small>
          </small>
        </div>
        <p class="mb-1">
          {{
            post.content.length > 500
              ? (post.content | slice: 0:500) + "..."
              : post.content
          }}
        </p>
        <small class="text-muted">Author: </small
        ><small style="color: rgb(95, 95, 239)">{{ post.author }}</small>
      </a>
    </div>
  </div>
  <div class="p-3 d-md-flex justify-content-md-end">
    <div class="p-3">
      Showing {{ postsToDisplay.length }}/ {{ posts.length }} posts
    </div>
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="showMore()"
      [disabled]="!enableShowMoreBtn"
    >
      Show More
    </button>
  </div>
</div>
