<!-- <div class="p-3 container col-md-8">
  <div class="list-group">
    <div *ngFor="let post of posts">
      <a routerLink="/login" class="list-group-item list-group-item-action">
        <div class="fw-bold">{{ post.title }}</div>
        <div>{{ post.content }}</div>
      </a>
    </div>
  </div>
</div> -->

<div class="p-3 container col-md-8">
  <div class="p-3 d-md-flex justify-content-md-center"><h2>BlogShite</h2></div>
  <div class="list-group">
    <div *ngFor="let post of postsToDisplay">
      <a
        routerLink=""
        class="list-group-item list-group-item-action"
        aria-current="true"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ post.title }}</h5>
          <small>3 days ago</small>
        </div>
        <p class="mb-1">{{ post.content }}</p>
        <small>{{ post.author }}</small>
      </a>
    </div>
  </div>
  <div class="p-3 d-md-flex justify-content-md-end">
    <div class="p-3">
      Showing {{ postsToDisplay.length }}/ {{ posts.length }} posts
    </div>
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="showMore()"
      [disabled]="!enableShowMoreBtn"
    >
      Show More
    </button>
  </div>
</div>
