<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<div class="container p-3 justify-content-between">
  <div class="row">
    <div class="col-md-12">
      <div class="post-content">
        <div class="p-3 d-md-flex justify-content-md-center">
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
            *ngIf="loading"
          ></span>
        </div>
        <div class="post-container">
          <div class="post-detail" *ngIf="postDataAvailable">
            <div class="post-info">
              <div class="row">
                <div class="col-md-8">
                  <h5>
                    <a>{{ post.postTitle }}</a>
                  </h5>
                </div>
                <div class="col-md-4" *ngIf="allowPostEdit">
                  <button class="btn btn-primary m-1" (click)="deletePost()">
                    Delete this post
                  </button>
                  <button
                    class="btn btn-primary m-1"
                    [routerLink]="[
                      '/edit-post',
                      post.title.replace('POST#', ''),
                      post.id
                    ]"
                  >
                    Edit this post
                  </button>
                </div>
              </div>
              <p class="text-muted">
                {{ post.updatedAt }}
                <b>by user: </b>
                {{ post.author }}
              </p>
            </div>
            <div class="line-divider"></div>
            <div
              class="post-text d-flex flex-start"
              style="white-space: pre-line"
            >
              <p>
                {{ post.content }}
              </p>
            </div>
            <hr />

            <div class="line-divider"></div>

            <div class="" *ngFor="let comment of comments">
              <div class="row">
                <div class="col-md-10">
                  <a>{{ comment.content }}</a>
                  <p class="text-muted">
                    {{ comment.updatedAt }}
                    <b>by user: </b>
                    {{ comment.author }}
                  </p>
                  <p>
                    |
                    <span
                      style="cursor: pointer"
                      (click)="upvote(comment.title)"
                    >
                      <span class="vote-count">
                        {{ comment.upvoterIds.length }}
                      </span>
                      <span class="fa fa-arrow-up vote up"> </span>
                    </span>
                    |
                    <span
                      style="cursor: pointer"
                      (click)="downvote(comment.title)"
                    >
                      <span class="fa fa-arrow-down vote down"> </span>
                      <span class="vote-count">
                        {{ comment.downvoterIds.length }}
                      </span>
                    </span>
                    |
                    <span class="ml-3 mr-3"
                      >Comment score:
                      {{
                        comment.upvoterIds.length - comment.downvoterIds.length
                      }}</span
                    >
                  </p>
                </div>
                <div class="col-md-2 p-2">
                  <button
                    class="btn btn-primary m-1"
                    (click)="deleteComment(comment.title, comment.userId)"
                    *ngIf="comment.allowDelete"
                  >
                    Delete
                  </button>
                  <button
                    class="btn btn-primary m-1"
                    [routerLink]="[
                      '/edit-comment',
                      postId,
                      comment.title.replace('COMMENT#', '')
                    ]"
                    *ngIf="comment.allowEdit"
                  >
                    Edit
                  </button>
                </div>
                <hr />
              </div>
            </div>
            <form
              class="post-comment"
              *ngIf="allowComments"
              (ngSubmit)="commentOnPost()"
            >
              <input
                type="text"
                class="form-control"
                placeholder="Post a comment"
                id="postContent"
                name="content"
                [(ngModel)]="commentParams.content"
              />

              <div
                class="d-flex justify-content-start p-1"
                style="font-size: small; color: red"
                *ngIf="commentEmpty"
              >
                * Comment can't be left empty!
              </div>

              <button type="submit" class="btn btn-primary m-1">Comment</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
