<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<div class="container p-3 justify-content-between">
  <div class="row">
    <div class="col-md-12">
      <div class="post-content">
        <!-- <img
          src="https://via.placeholder.com/400x150/FFB6C1/000000"
          alt="post-image"
          class="img-responsive post-image"
        /> -->
        <div class="post-container">
          <!-- <img
            src="https://bootdey.com/img/Content/avatar/avatar6.png"
            alt="user"
            class="profile-photo-md pull-left"
          /> -->
          <div class="post-detail">
            <div class="post-info">
              <h5>
                <a>{{ post.title.replace("POST#", "") }}</a>
              </h5>
              <p class="text-muted">
                {{ post.updatedAt.replace("T", " ").replace("Z", " ") }}
                <b>by user: </b>
                {{ post.author }}
              </p>
            </div>
            <!-- <div class="reaction">
              <a class="btn text-green"><i class="fa fa-thumbs-up"></i> 13</a>
              <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 0</a>
            </div> -->
            <div class="line-divider"></div>
            <div class="post-text">
              <p>
                {{ post.content }}
              </p>
            </div>
            <div class="line-divider"></div>
            <div class="post-comment">
              <p></p>
            </div>
            <div class="post-comment">
              <img
                src="https://bootdey.com/img/Content/avatar/avatar1.png"
                alt=""
                class="profile-photo-sm"
              />
              <input
                type="text"
                class="form-control"
                placeholder="Post a comment"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
