<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<div class="container p-3 justify-content-between">
  <div class="row">
    <div class="col-md-12">
      <div class="post-content">
        <div class="post-container">
          <div class="post-detail" *ngIf="postDataAvailable">
            <div class="post-info">
              <h5>
                <a>{{ post.title.replace("POST#", "") }}</a>
              </h5>
              <button class="btn btn-primary m-1" (click)="deletePost()">
                Delete this post
              </button>
              <p class="text-muted">
                {{ post.updatedAt }}
                <b>by user: </b>
                {{ post.author }}
              </p>
            </div>
            <div class="line-divider"></div>
            <div class="post-text">
              <p>
                {{ post.content }}
              </p>
            </div>
            <div class="line-divider"></div>
            <div class="post-comment" *ngFor="let comment of comments">
              <div class="comment-text">
                <span>{{ comment.content }}</span>
                <p class="text-muted">
                  {{ comment.updatedAt.replace("T", " ").replace("Z", " ") }}
                  <b>by user: </b>
                  {{ comment.author }}
                </p>
              </div>
            </div>
            <form
              class="post-comment"
              *ngIf="allowComments"
              (ngSubmit)="commentOnPost()"
            >
              <input
                type="text"
                class="form-control"
                placeholder="Post a comment"
                id="postContent"
                name="content"
                [(ngModel)]="commentParams.content"
              />
              <button type="submit" class="btn btn-primary m-1">Comment</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
