<nav
  class="navbar navbar-expand-sm bg-dark navbar-dark position-sticky top-0 z-index:9"
>
  <div class="container-fluid">
    <a
      routerLink="/"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      class="navbar-brand"
      >Home</a
    >
    <a
      routerLink="/create-post"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      class="navbar-brand"
      >Create a post</a
    >
    <a
      routerLink="/login"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      class="navbar-brand"
      >Login</a
    >
  </div>
</nav>

<router-outlet></router-outlet>
