<div class="container p-5 content">
  <div class="row justify-content-center">
    <div class="col-10 col-lg-6 col-sm-8 col-xl-6">
      <div class="card bg-light" style="border-radius: 0.5rem">
        <div class="card-body text-center" *ngIf="!isConfirm">
          <h3>Register</h3>

          <form (ngSubmit)="register()">
            <div class="form-floating mb-3">
              <input
                type="username"
                class="form-control"
                placeholder="Username"
                name="username"
                #username="ngModel"
                [(ngModel)]="user.username"
              />
              <label for="floatingInput">Username</label>
            </div>

            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="registerEmail"
                placeholder="Email"
                name="email"
                #email="ngModel"
                [(ngModel)]="user.email"
              />
              <span
                id="reset_msg"
                style="display: none; color: red; text-align: left"
                >Napačen vnos email naslova</span
              >
              <label for="floatingInput">Email address</label>
            </div>

            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                id="registerPassword"
                placeholder="Password"
                name="password"
                #password="ngModel"
                [(ngModel)]="user.password"
              />
              <label for="floatingInput">Password</label>
            </div>

            <div class="form-floating mt-3">
              <input
                type="password"
                class="form-control"
                id="registerPassword2"
                name="password2"
                placeholder="Password"
                [(ngModel)]="password2"
              />
              <label for="floatingInput">Repeat password</label>
            </div>

            <div
              class="d-flex justify-content-start p-1"
              style="font-size: small; color: red"
              *ngIf="passError"
            >
              * Password must be at least 8 characters long!
            </div>

            <button type="submit" class="btn btn-primary">
              <span
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
                *ngIf="loading"
              ></span
              >Register
            </button>
          </form>
        </div>
        <div class="card-body" *ngIf="isConfirm">
          <div class="row">
            <div class="col mb-2">
              <label for="code" class="form-label">Code:</label>
              <input
                type="text"
                id="code"
                name="code"
                #code="ngModel"
                [(ngModel)]="user.code"
                class="form-control form-control-sm"
              />
            </div>
          </div>
          <div class="row">
            <div class="col d-grid">
              <button
                type="button"
                (click)="confirmSignUp()"
                class="btn btn-sm btn-success"
                [disabled]="loading"
              >
                <span
                  class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"
                  *ngIf="loading"
                ></span>
                Confirm
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
